<!DOCTYPE HTML>
<html>
<head>
  <title></title>
</head>

<body>
  <strong>{{state.state}}</strong> 
  <br>
  Senator 1: {{state.name1}}
  <br>
  Party: {{state.party1}}
  <br>
  Phone: {{state.phone1}}
  <br>
  Address: {{state.address1}}
  <br>
  Fax: {{state.fax1}}
  <br> <br> <br>

  Senator 2: {{state.name2}}
  <br>
  Party: {{state.party2}}
  <br>
  Phone: {{state.phone2}}
  <br>
  Address: {{state.address2}}
  <br>
  Fax: {{state.fax2}}

  <br></div>
   <br>
<br><br>


   <a href="/">Return to Map</a>





</body>
</html>
